body {
    background-color:#1A1A1D;
    color: white;
}


.search {
    display: flex;
    justify-content: flex-end;
    margin-right: 12px;
    margin-bottom: 7px;  
}

.searchBar {
    background-color:#1A1A1D;
    color:white;
    font-weight: bold;
    padding: 11px;
    border-radius: 20px;
    border-color: rgba(7, 7, 7, 0.358); 
}
::placeholder { 
    color: white;
  }

.head {
    margin-bottom: 50px;
    background-color: #970330;
    padding: .1px;
}

.title {
    font-size: 50px;
    margin-left: 10px;
    margin-bottom: 0px;
    text-decoration: none;
    color: white;
}

.mainHead {
    display: flex;
}

.logo {
    width: 100px; 
}

.movieItem {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 300px;
    margin: 1rem;
    background-color: #970330;
   
}

.movieItemTitle {
    display: flex;
    justify-content: center;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

.movieContainer {
    display: flex;
    justify-content: center;
} */

.movieImageContainer {
    display: flex;
    margin: 30px;
    width: 400px
} 

.movieDetails {
    margin-top: 20px;
    font-size: 12px;
    
}

.movieCon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

img {
    max-width: 100%;
}

.genreItem {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.movieDeetsHeader {
    text-align: center;
    margin-bottom: 50px;
}

.movieLink {
    color: #c3073f;
    text-decoration: none;
}

.movieLink:hover {
    color: #3cebee;
    text-decoration: none;
}



@media (max-width: 600px){
   
    .search {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 20px; 
    }

    .title {
        font-size: 50px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: white;
    }
    
    .movieItem {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        width: 300px;
        margin-left: 2.2rem;
        background-color: #970330; 
    }
}


