body {
    background-color:#2f2fa2;
    color: white;
}


.search {
    display: flex;
    justify-content: flex-end;
    margin-right: 12px;
    margin-bottom: 7px;
    
    
    
}

.head {
    margin-bottom: 50px;
    background-color: #242582;
    padding: .1px;
    
}


.movieTitle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}

.title {
    font-size: 40px;
   margin-left: 15px;
}

.searchBar {
    background-color:#f64c72;
    color:white;
    font-weight: bold;
    padding: 11px;
    border-radius: 20px;
    border-color: rgba(7, 7, 7, 0.358);
    
}


.movieItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 10px;
    margin-top: 50px;
    
}

img {
    max-width: 100%;
}

.genreItem {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    /* font-size: 16px; */
}

.movieLink {
    color: white;
    text-decoration: none;
}

.movieName {
    text-decoration: none;
}