body {
    background-color:#001d3d;
    color: white;
}

/* .title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;

} */

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.head {
    margin-bottom: 50px;
    background-color: #000814;
    padding: 40px;
    width: 100%;
    
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin-top: 50px;
    
}

.movieTitle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 11px;
    margin-bottom: 15px;
}

.title {
    display: flex;
    justify-content: flex-start;
}

.search {
    display: flex;
    align-content: flex-end;
    margin-right: 79px;
}